.notification {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.list-blog {
    padding: 0;
    list-style-type: none;
}

.blog-view {
    max-width: 100%;
    border: 1px black solid;
    padding: 3px;
    margin-bottom: 3px;
    padding-top: 10;
    padding-left: 2;
    border-width: 1;
    margin-bottom: 5;
}